*{
	margin: 0;
	padding: 0;
}
table{
	border-spacing: 0;
	width: 940px;
}
td, th {
	border: 1px solid black;
	padding: 5px; 
	text-align: start;
	}
.width{
	width: 180px;
}
.indent{
	margin-top: 20px;
}
.lvl{
	width: 30px;
}
.years{
	width: 50px;
}
.full_width{
	width: 100%;
}
.center{
	text-align: center;
}

.page_1{
	width: 940px;
	margin: 0 auto;
}
.header_page_1{
	text-align: end;
}
.header_page_1 img{
	width: 230px;
}
.title{
	display: flex;
	justify-content: center;
	margin-top: 5px;
}
.title h3{
	font-weight: bold;
	font-size: 22px;
}
.title div{
	border-bottom: solid 2px black;
	width: 200px;
	margin-left: 5px;
}

.contacts table{
	margin-top: 25px;
}

.skills li{
	font-weight: bold;
	list-style-type: none;
}

.footer{
	margin-top: 70px;
}